body {
    margin: 0;
    padding: 0;
    background-color: #4d4d4d;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#form {
    background-color: #3f3f3f;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 75px 24px 0;
}

input {
    width: 250px;
    height: 30px;
    background-color: #acacac;
    border: none;
    outline: none;
    border-radius: 3%;
}

#submit {
    width: 62px;
    height: 27px;
}

#book-list { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 24px;
    padding: 48px;
    width: 100%;
}

.new-book {
    color: white;
    background-color: #3f3f3f;
    height: 300px;
    max-height: 300px;
    padding: 10px;
    border: 2px solid #00ff00;
    border-radius: 5%;
}


